@page
@model CoffeeShop.Pages.AddCoffeeModel
@{
}


<div class="AddForm">
    <form method="post" class="text-center flex-column">
        <label>Name</label><br />
        <input type="text" asp-for="@Model.Coffe.Name" /><br />
        <label>Description</label><br />
        <textarea asp-for="@Model.Coffe.Description"></textarea><br />
        <input type="submit"  class="bg-success"/><br />
    </form>
</div>
